# üè° Airbnb Rio de Janeiro - Predicting Daily Rates

![Jupyter](https://2.bp.blogspot.com/-RThEwEqQrtc/Uk2l9uuty4I/AAAAAAAAnE0/ZsPTiyseI_A/s1600/Rio-de-Janeiro.jpg)

## üìã Introdu√ß√£o

> Este projeto tem como objetivo prever o valor das di√°rias de im√≥veis listados no Airbnb na cidade do Rio de Janeiro, utilizando caracter√≠sticas como localiza√ß√£o, tamanho, n√∫mero de quartos, e avalia√ß√µes de h√≥spedes. Ao final, ser√° desenvolvido um modelo preditivo que poder√° ser utilizado por anfitri√µes para ajustar o pre√ßo de seus im√≥veis de acordo com a demanda e as caracter√≠sticas da propriedade.

> Para conduzir este projeto de forma estruturada e eficiente, ser√° utilizado o framework CRISP-DM (Cross-Industry Standard Process for Data Mining), seguindo as seguintes etapas:

1. **Entendimento do Neg√≥cio üè¢:** Compreender o contexto do Airbnb e a import√¢ncia de prever o pre√ßo correto para as di√°rias.
   
2. **Entendimento dos Dados üîç:** Explorar e analisar os datasets de hospedagem dispon√≠veis.
3. **Prepara√ß√£o dos Dados üõ†Ô∏è:** Limpar, transformar e preparar os dados para modelagem.
4. **Modelagem ü§ñ:** Treinar modelos de machine learning para prever o valor das di√°rias.
5. **Avalia√ß√£o üìä:** Avaliar o desempenho dos modelos.
6. **Implanta√ß√£o üöÄ:** Desenvolver uma aplica√ß√£o interativa em Streamlit.
   
> Vale ressaltar que esta √© a parte do projeto focada na ci√™ncia de dados, respons√°vel por an√°lise, modelagem e predi√ß√£o. Paralelamente, o projeto tamb√©m conta com uma estrutura robusta de engenharia de dados, que est√° sendo conduzida por um colega, encarregado de preparar e otimizar o pipeline de dados.

In [2]:
#Principais bibliotecas para explora√ß√£o de dados
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pathlib
%matplotlib inline
import seaborn as sn
from ydata_profiling import ProfileReport
import ipywidgets as widget

In [66]:
#Leitura dos DF

# criando um dicionario para utilizar na cria√ß√£o da feature mes que sera lida no arquivo .csv
meses = {'jan': 1, 'fev': 2, 'mar': 3, 'abr': 4, 'mai': 5, 'jun': 6,
      'jul': 7, 'ago': 8, 'set': 9, 'out': 10,'nov': 11, 'dez':12}

#Adicionando o caminho da pasta na variavel repositorio
repositorio = pathlib.Path('C:/Users/jonat/OneDrive/√Årea de Trabalho/Airbnb bases')

#criando uma lista para armazenar os dfs que seram apendados durante o loop
dfs = []

for arquivo in repositorio.iterdir():
    nome_mes = arquivo.name[:3]
    mes = meses[nome_mes]
    ano = arquivo.stem[-4:]
    print(ano, end=" ")
    
    df = pd.read_csv(repositorio / arquivo.name, low_memory=False)
    df['ano'] = ano
    df['mes'] = mes
    dfs.append(df)
    
df_final = pd.concat(dfs, ignore_index=True)

2018 2019 2020 2018 2019 2018 2019 2019 2020 2019 2020 2018 2019 2019 2018 2019 2020 2019 2020 2019 2018 2018 2019 2018 2019

In [67]:
df_final.shape

(902210, 108)

#### 1¬∞ Analise exploratoria:

> Como o DF possui 108 colunas, vou extrair as 1000 primeiras linhas do DF para selecionar apenas as colunas relevantes para modelagem dos dados

In [69]:
#Salvando as 100 primeiras linhas para analisar o conteudo das colunas (identifica√ß√£o de colunas com dados duplicados)
df_final.head(1000).to_excel('C:/Users/jonat/Predictive_analysis_Airbnb_property_rental/Results/100_primeiros_registros.xlsx', index=False)

In [70]:
#separando as colunas que identifiquei como mais relevantes para analise do modelo 
colunas = ['id','host_response_time','host_response_rate','host_is_superhost',
           'host_listings_count','latitude','longitude','property_type','room_type',
           'accommodates','bathrooms','bedrooms','beds','bed_type','amenities','price',
           'security_deposit','cleaning_fee','guests_included','extra_people','minimum_nights',
           'maximum_nights','number_of_reviews','review_scores_rating','review_scores_accuracy',
           'review_scores_cleanliness','review_scores_checkin','review_scores_communication',
           'review_scores_location','review_scores_value','instant_bookable',
           'is_business_travel_ready','cancellation_policy','ano','mes']

#Filtrando o df apenas com apenas as colunas selecionadas
df_final = df_final.loc[:, colunas]

In [34]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902210 entries, 0 to 902209
Data columns (total 35 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           902210 non-null  int64
 1   host_response_time           500367 non-null  object
 2   host_response_rate           500364 non-null  object
 3   host_is_superhost            901750 non-null  object
 4   host_listings_count          901750 non-null  float64
 5   latitude                     902210 non-null  float64
 6   longitude                    902210 non-null  float64
 7   property_type                902210 non-null  object
 8   room_type                    902210 non-null  object
 9   accommodates                 902210 non-null  int64
 10  bathrooms                    900486 non-null  float64
 11  bedrooms                     901360 non-null  float64
 12  beds                         899708 non-null  float64
 13  bed_type                     902210 non-null  object
 14  amenities                    902210 non-null  object
 15  price                        902210 non-null  object
 16  security_deposit             480930 non-null  object
 17  cleaning_fee                 588704 non-null  object
 18  guests_included              902210 non-null  int64
 19  extra_people                 902210 non-null  object
 20  minimum_nights               902210 non-null  int64
 21  maximum_nights               902210 non-null  int64
 22  number_of_reviews            902210 non-null  int64
 23  review_scores_rating         454194 non-null  float64
 24  review_scores_accuracy       453624 non-null  float64
 25  review_scores_cleanliness    453797 non-null  float64
 26  review_scores_checkin        453560 non-null  float64
 27  review_scores_communication  453795 non-null  float64
 28  review_scores_location       453657 non-null  float64
 29  review_scores_value          453659 non-null  float64
 30  instant_bookable             902210 non-null  object
 31  is_business_travel_ready     902210 non-null  object
 32  cancellation_policy          902210 non-null  object
 33  ano                          902210 non-null  object
 34  mes                          902210 non-null  int64
dtypes: float64(13), int64(7), object(15)
memory usage: 240.9+ MB

#### Tratamento de volores nulos

In [71]:
df_final.isnull().sum()

id                                  0
host_response_time             401843
host_response_rate             401846
host_is_superhost                 460
host_listings_count               460
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bathrooms                        1724
bedrooms                          850
beds                             2502
bed_type                            0
amenities                           0
price                               0
security_deposit               421280
cleaning_fee                   313506
guests_included                     0
extra_people                        0
minimum_nights                      0
maximum_nights                      0
number_of_reviews                   0
review_scores_rating           448016
review_scores_accuracy         448586
review_scores_cleanliness      448413
review_scores_checkin          448650
review_scores_communication    448415
review_scores_location         448553
review_scores_value            448551
instant_bookable                    0
is_business_travel_ready            0
cancellation_policy                 0
ano                                 0
mes                                 0
dtype: int64

In [72]:
percent_dados = 448551 / 902210
print(percent_dados)

0.4971691734740249

##### Lista de colunas dropadas

 > Por serem colunas com muitos valores nulos onde concentram cerca de 50% de valores nulos e por entender que estas colunas n√£o serao totalmente relevantes para o modelo de provis√£o, optei por excluir.


<details>
  <summary>Clique para expandir!</summary>
  <b> <p>host_response_time: </p> </b>
  <b> <p>host_response_rate: </p> </b>
  <b> <p>security_deposit: </p> </b>
  <b> <p>cleaning_fee: </p> </b>
  <b> <p>review_scores_rating: </p> </b>
  <b> <p>review_scores_accuracy: </p> </b>
  <b> <p>review_scores_cleanliness: </p> </b>
  <b> <p>review_scores_cleanliness: </p> </b>
  <b> <p>review_scores_checkin: </p> </b>
  <b> <p>review_scores_communication: </p> </b>
  <b> <p>review_scores_value: </p> </b>

      
</detais>

In [73]:
#percorrendo o df para encontrar colunas com valores nulos acima de 300k de linhas e excluirabs

for coluna in df_final:
    if df_final[coluna].isnull().sum() > 300000:
        df_final = df_final.drop(coluna, axis=1)

#soma de volores nulos sem as colunas exluidas
df_final.isnull().sum()

id                             0
host_is_superhost            460
host_listings_count          460
latitude                       0
longitude                      0
property_type                  0
room_type                      0
accommodates                   0
bathrooms                   1724
bedrooms                     850
beds                        2502
bed_type                       0
amenities                      0
price                          0
guests_included                0
extra_people                   0
minimum_nights                 0
maximum_nights                 0
number_of_reviews              0
instant_bookable               0
is_business_travel_ready       0
cancellation_policy            0
ano                            0
mes                            0
dtype: int64

In [74]:
#Excluindo linhas vazias do DF
df_final = df_final.dropna()

df_final.shape

(897709, 24)

In [77]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 897709 entries, 0 to 902209
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id                        897709 non-null  int64
 1   host_is_superhost         897709 non-null  object
 2   host_listings_count       897709 non-null  int32
 3   latitude                  897709 non-null  float64
 4   longitude                 897709 non-null  float64
 5   property_type             897709 non-null  object
 6   room_type                 897709 non-null  object
 7   accommodates              897709 non-null  int64
 8   bathrooms                 897709 non-null  int32
 9   bedrooms                  897709 non-null  int32
 10  beds                      897709 non-null  int32
 11  bed_type                  897709 non-null  object
 12  amenities                 897709 non-null  object
 13  price                     897709 non-null  float64
 14  guests_included           897709 non-null  int64
 15  extra_people              897709 non-null  float64
 16  minimum_nights            897709 non-null  int64
 17  maximum_nights            897709 non-null  int64
 18  number_of_reviews         897709 non-null  int64
 19  instant_bookable          897709 non-null  object
 20  is_business_travel_ready  897709 non-null  object
 21  cancellation_policy       897709 non-null  object
 22  ano                       897709 non-null  object
 23  mes                       897709 non-null  int64
dtypes: float64(4), int32(4), int64(7), object(9)
memory usage: 157.5+ MB

In [76]:
#Ajustando os tipos de dados do df

##Alterando os tipos de dados de flt para int
df_final["host_listings_count"] = df_final["host_listings_count"].astype(int)
df_final["bathrooms"] = df_final["bathrooms"].astype(int)
df_final["bedrooms"] = df_final["bedrooms"].astype(int)
df_final["beds"] = df_final["beds"].astype(int)

#Alterando os tipos de dados de obj para float subistituindo os caracteres especiais
df_final["price"] = df_final["price"].str.replace('$', '')
df_final["price"] = df_final["price"].str.replace(',', '')
df_final["price"] = df_final["price"].astype(float)

df_final["extra_people"] = df_final["extra_people"].str.replace('$', '')
df_final["extra_people"] = df_final["extra_people"].str.replace(',', '')
df_final["extra_people"] = df_final["extra_people"].astype(float)